div.FormView
{
	display: table;
	width: -moz-available;
	
	div.Field
	{
		display: table-row;
		width: -moz-available;
		
		label, input
		{
			display: table-cell;
		}
		input
		{
			width: -moz-available;
		}
	}
}