div.TrackBar
{
	-moz-user-select: none;
	
	&> div.Track
	{
		position: relative;
		&> div.Quantity, div.Thumb
		{
			display: inline-block;
			position: absolute;
		}
	}
	&.Horizontal
	{
		&> div.Track
		{
			display: block;
			width: 100%;
			&> div.Quantity
			{
				height: 100%;
			}
		}
	}
	&.Vertical
	{
		display: inline-block;
		&> div.Track
		{
			display: block;
			height: 100%;
			&> div.Quantity
			{
				bottom: 0px;
				width: 100%;
			}
		}
	}
}