@import "Branding.less";

@import "Header.less";
@import "Footer.less";
@import "LinkButton.less";
@import "MainPage.less";
@import "Menu.less";
@import "Sidebar.less";

@import "../../../../fonts/FontAwesome/FontAwesome.css";

body
{
	background-color: #FFFFFF;
	color: #707478;
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	margin: 0px;
}
body > div.Content
{
	margin-top: @HeaderHeight;
	margin-bottom: @HeaderHeight;
	
	padding: 24px;
}