div.Jumbotron
{
	margin-bottom: 30px;
	padding-bottom: 48px;
	padding-top: 48px;
	
	border: solid 1px #DDE6E9;
	background-color: #FCFCFC;
	
	&> div.Title
	{
		font-size: 64px;
	}
	&> div.Content
	{
		font-size: 22px;
		font-weight: 200;
		margin-bottom: 16px;
	}
}