table.ListView
{
	th a
	{
		color: #888888;
		text-decoration: none;
		font-weight: normal;
		padding: 14px 8px;
		display: block;
	}
	
	&> thead > tr > th > a:hover
	{
		background-color: #FAFBFC;
	}
	&> tbody > tr
	{
		&:hover
		{
			background-color: #FAFBFC;
		}
	}
	
	tr
	{
		&> td
		{
			&> input.Filter
			{
				font-weight: bold;
				
				&::-moz-placeholder
				{
					color: #B7BAC9;
				}
			}
			
			&> div.Title
			{
				font-size: 18px;
				font-weight: 700;
			}
		}
	}
	
	&:not(.Borderless)
	{
		border: solid 1px #EEEEEE;
	}
	&.GridLines > tbody > tr:not(:last-child)
	{
		border-bottom: solid 1px #EEEEEE;
	}
	&.AlternateShading > tbody > tr:nth-child(2n+1)
	{
		background-color: #FAFBFC;
	}
}