table.ListView
{
	th a
	{
		color: #888888;
		text-decoration: none;
		font-weight: normal;
		padding: 14px 8px;
		display: block;
	}
	tr td input.Filter
	{
		font-weight: bold;
		
		&::-moz-placeholder
		{
			color: #B7BAC9;
		}
	}
}