/* WARNING - Must be included above ALL files */
@import "Branding.less";

@import "Button.less";
@import "Footer.less";
@import "Jumbotron.less";
@import "ListView.less";
@import "Panel.less";
@import "Page.less";
@import "Sidebar.less";
@import "TabContainer.less";
@import "TextBox.less";
@import "TileView.less";

@import "../../../../fonts/FontAwesome/FontAwesome.less";

body, input
{
	font-size: 14px;
	font-family: "Droid Sans", "Source Sans Pro", "Open Sans", "Segoe UI";
}

body
{
	background-color: @PageBackground;
	color: @PageForeground;
	line-height: 1.52857;
}
div.PrimaryContent
{
	font-size: 42px;
}
div.Expand
{
	display: table;
	width: 100%;
	width: -moz-available;
	
	&> *
	{
		display: table-cell;
	}
}
div.Page > nav.Top
{
	&> a.MenuButton
	{
		font-size: 16pt;
		padding: 12px;
		position: absolute;
		color: #FFFFFF;
		cursor: pointer;
		
		&:hover
		{
			color: darken(@HeaderBackground, 20%);
		}
	}
	&> img.Logo
	{
		left: 48px;
		position: absolute;
		top: 10px;
		
		height: 34px;
	}
}