@import "Button.less";
@import "Jumbotron.less";
@import "ListView.less";
@import "Panel.less";
@import "Page.less";
@import "Sidebar.less";
@import "TabContainer.less";
@import "TextBox.less";
@import "TileView.less";

body
{
	background-color: #F5F7FA;
	font-size: 14px;
	line-height: 1.52857;
	font-family: "Source Sans Pro", "Open Sans", "Segoe UI";
}