div.RibbonContainer
{
	margin-bottom: 16px;
}
div.Ribbon
{
	border-bottom: solid 1px #9faec2;

	background: #f7fbff; /* Old browsers */
	background: -moz-linear-gradient(top, #f7fbff 0%, #dce7f5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7fbff), color-stop(100%,#dce7f5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f7fbff 0%,#dce7f5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f7fbff 0%,#dce7f5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f7fbff 0%,#dce7f5 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f7fbff 0%,#dce7f5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7fbff', endColorstr='#dce7f5',GradientType=0 ); /* IE6-9 */
	
	height: 116px;
	position: relative;

	z-index: 2;

	transition: height 0.3s;
}
div.Ribbon.Collapsed
{
	height: 23px;
}
div.RibbonContainer
{
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
}
div.Ribbon *
{
	font-size: 8pt !important;
	font-family: "Segoe UI" !important;
}
div.RibbonTitleBar
{
	font-size: 9pt !important;
	font-family: "Segoe UI" !important;
	text-align: center;
}
div.RibbonTitleBar img
{
	vertical-align: middle;
	width: 24px;
	height: 24px;
}
div.RibbonTitleBar span.Text
{
	position: relative;
	top: 2px;
	padding-left: 4px;
}
div.RibbonSpacer
{
	height: 160px;
}
div.RibbonSpacer.Collapsed
{
	height: 60px;
}
div.Ribbon a.ApplicationButton
{
	display: inline-block;
	border: solid 1px #416abd;
	width: 56px;
	height: 22px;
	position: relative;
	z-index: 2;

	border-top-right-radius: 4px;

	background: #4883c0; /* Old browsers */
	background: -moz-linear-gradient(top, #4883c0 0%, #2c64b0 50%, #204388 51%, #419acf 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4883c0), color-stop(50%,#2c64b0), color-stop(51%,#204388), color-stop(100%,#419acf)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #4883c0 0%,#2c64b0 50%,#204388 51%,#419acf 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #4883c0 0%,#2c64b0 50%,#204388 51%,#419acf 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #4883c0 0%,#2c64b0 50%,#204388 51%,#419acf 100%); /* IE10+ */
	background: linear-gradient(to bottom, #4883c0 0%,#2c64b0 50%,#204388 51%,#419acf 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4883c0', endColorstr='#419acf',GradientType=0 ); /* IE6-9 */
}
div.Ribbon a.ApplicationButton:hover
{
	background: #a2c9f1; /* Old browsers */
	background: -moz-linear-gradient(top, #a2c9f1 0%, #4782d0 50%, #114eaf 51%, #1793e8 77%, #58cfff 95%, #80e1ff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a2c9f1), color-stop(50%,#4782d0), color-stop(51%,#114eaf), color-stop(77%,#1793e8), color-stop(95%,#58cfff), color-stop(100%,#80e1ff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #a2c9f1 0%,#4782d0 50%,#114eaf 51%,#1793e8 77%,#58cfff 95%,#80e1ff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #a2c9f1 0%,#4782d0 50%,#114eaf 51%,#1793e8 77%,#58cfff 95%,#80e1ff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #a2c9f1 0%,#4782d0 50%,#114eaf 51%,#1793e8 77%,#58cfff 95%,#80e1ff 100%); /* IE10+ */
	background: linear-gradient(to bottom, #a2c9f1 0%,#4782d0 50%,#114eaf 51%,#1793e8 77%,#58cfff 95%,#80e1ff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2c9f1', endColorstr='#80e1ff',GradientType=0 ); /* IE6-9 */
}
div.Ribbon a.ApplicationButton:active, div.Ribbon a.ApplicationButton.Selected
{
	border: none 0px;
	border-radius: 0px;
	padding: 1px;

	background: #4a88c4; /* Old browsers */
	background: -moz-linear-gradient(top, #4a88c4 0%, #3065ae 50%, #1c438a 51%, #358bc9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4a88c4), color-stop(50%,#3065ae), color-stop(51%,#1c438a), color-stop(100%,#358bc9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #4a88c4 0%,#3065ae 50%,#1c438a 51%,#358bc9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #4a88c4 0%,#3065ae 50%,#1c438a 51%,#358bc9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #4a88c4 0%,#3065ae 50%,#1c438a 51%,#358bc9 100%); /* IE10+ */
	background: linear-gradient(to bottom, #4a88c4 0%,#3065ae 50%,#1c438a 51%,#358bc9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a88c4', endColorstr='#358bc9',GradientType=0 ); /* IE6-9 */
}

div.Ribbon div.RibbonTabContainer, div.RibbonTitleBar
{
	background-color: #dfe9f5;
}
div.Ribbon div.RibbonTabContainer
{
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	height: 23px;
	border-bottom: solid 1px #bac9db;

	padding-left: 60px;
}

div.Ribbon a.ApplicationButton img.Icon
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 5px;
}
div.Ribbon a.RibbonTab
{
	padding-top: 4px;
	padding-bottom: 4px;
	display: inline-block;
	padding-left: 13px;
	padding-right: 11px;

	color: #15428b;
	text-decoration: none;
	cursor: default;
	
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border: solid 1px transparent;
	border-bottom: none 0px;

	margin-top: 1px;
	
	transition: border-color linear 0.3s, background-color linear 0.3s;

	margin-right: 5px;
}
div.Ribbon a.RibbonTab:hover
{
	background-color: #eaf0f9;
}
div.Ribbon a.RibbonTab.Selected
{
	background-color: #fbfdff;
	border-color: #bac9db;
	padding-bottom: 5px;
}
div.Ribbon a.RibbonTab:hover, div.Ribbon a.RibbonTab.Selected:hover
{
	border-color: #ffb700;
}

div.Ribbon div.ApplicationMenu
{
	position: relative;
	top: -27px;
	z-index: 1;
	border: solid 1px #8492a6;
	width: 303px;
	visibility: hidden;
	opacity: 0;

	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}
div.Ribbon div.ApplicationMenu:not(.Visible)
{
	transition: visibility 0.5s, opacity 0.5s;
}
div.Ribbon div.ApplicationMenu.Visible
{
	visibility: visible;
	opacity: 1;
}
div.Ribbon div.ApplicationMenu img.Icon
{
	width: 40px;
}
div.Ribbon div.ApplicationMenu div.ApplicationMenuItems
{
	min-height: 56px;
	background-color: #eff5fa;
	margin-top: 23px;
}
div.Ribbon div.ApplicationMenu div.ApplicationMenuHeader
{
	position: absolute;
	top: 0px;
	left: 56px;
	height: 23px;
	right: 0px;

	background: #fcfeff; /* Old browsers */
	background: -moz-linear-gradient(top, #fcfeff 0%, #e8f1fb 50%, #dce6f4 51%, #e4effb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfeff), color-stop(50%,#e8f1fb), color-stop(51%,#dce6f4), color-stop(100%,#e4effb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fcfeff 0%,#e8f1fb 50%,#dce6f4 51%,#e4effb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fcfeff 0%,#e8f1fb 50%,#dce6f4 51%,#e4effb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fcfeff 0%,#e8f1fb 50%,#dce6f4 51%,#e4effb 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fcfeff 0%,#e8f1fb 50%,#dce6f4 51%,#e4effb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfeff', endColorstr='#e4effb',GradientType=0 ); /* IE6-9 */
}

div.Ribbon div.RibbonTabContentContainer
{
	position: absolute;
	top: 24px;
	left: 0px;
	right: 0px;
}
div.Ribbon div.RibbonTabContent
{
	display: none;
	position: absolute;
	left: 6px;
	right: 6px;
	top: 4px;
	bottom: 8px;
}

div.Ribbon a.RibbonButtonCommand
{
	border: solid 1px transparent;
	border-radius: 2px;

	text-decoration: none;
	color: #1e395b;

	position: relative;
	cursor: default;
}
div.Ribbon a.RibbonButtonCommand:hover, div.Ribbon a.HelpButton:hover
{
	border: solid 1px #f6b71a;

	background: #fef9f4; /* Old browsers */
	background: -moz-linear-gradient(top, #fef9f4 0%, #fddeb8 40%, #ffce68 41%, #fff3c4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fef9f4), color-stop(40%,#fddeb8), color-stop(41%,#ffce68), color-stop(100%,#fff3c4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fef9f4 0%,#fddeb8 40%,#ffce68 41%,#fff3c4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fef9f4 0%,#fddeb8 40%,#ffce68 41%,#fff3c4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fef9f4 0%,#fddeb8 40%,#ffce68 41%,#fff3c4 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fef9f4 0%,#fddeb8 40%,#ffce68 41%,#fff3c4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fef9f4', endColorstr='#fff3c4',GradientType=0 ); /* IE6-9 */
}
div.Ribbon a.RibbonButtonCommand:active, div.Ribbon a.RibbonButtonCommand.Selected,
div.Ribbon a.HelpButton:active
{
	border: solid 1px #c29b29;

	background: #eecb90; /* Old browsers */
	background: -moz-linear-gradient(top, #eecb90 0%, #f5c777 40%, #f4ba55 41%, #f3e193 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eecb90), color-stop(40%,#f5c777), color-stop(41%,#f4ba55), color-stop(100%,#f3e193)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #eecb90 0%,#f5c777 40%,#f4ba55 41%,#f3e193 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #eecb90 0%,#f5c777 40%,#f4ba55 41%,#f3e193 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #eecb90 0%,#f5c777 40%,#f4ba55 41%,#f3e193 100%); /* IE10+ */
	background: linear-gradient(to bottom, #eecb90 0%,#f5c777 40%,#f4ba55 41%,#f3e193 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eecb90', endColorstr='#f3e193',GradientType=0 ); /* IE6-9 */
}
div.Ribbon a.RibbonButtonCommand.Selected:hover
{
	border: solid 1px #c2923b;
	
	background: #fddfbc; /* Old browsers */
	background: -moz-linear-gradient(top, #fddfbc 0%, #fed899 40%, #ffce68 41%, #ffe08c 69%, #fff290 88%, #fff2ac 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fddfbc), color-stop(40%,#fed899), color-stop(41%,#ffce68), color-stop(69%,#ffe08c), color-stop(88%,#fff290), color-stop(100%,#fff2ac)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fddfbc 0%,#fed899 40%,#ffce68 41%,#ffe08c 69%,#fff290 88%,#fff2ac 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fddfbc 0%,#fed899 40%,#ffce68 41%,#ffe08c 69%,#fff290 88%,#fff2ac 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fddfbc 0%,#fed899 40%,#ffce68 41%,#ffe08c 69%,#fff290 88%,#fff2ac 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fddfbc 0%,#fed899 40%,#ffce68 41%,#ffe08c 69%,#fff290 88%,#fff2ac 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fddfbc', endColorstr='#fff2ac',GradientType=0 ); /* IE6-9 */
}
div.Ribbon div.RibbonTabContent > a.RibbonButtonCommand
{
	display: inline-block;
	min-width: 42px;
	height: 66px;
	vertical-align: top;
	top: 6px;
}
div.Ribbon div.RibbonTabContent > a.RibbonButtonCommand > span.Text
{
	text-align: center;
	max-width: 52px;
	width: 100%;

	display: block;

	position: absolute;
	bottom: 0px;
}
a.RibbonButtonCommand > span.SpacerText
{
	display: none;
}
div.Ribbon div.RibbonTabContent > a.RibbonButtonCommand > span.SpacerText
{
	text-align: center;
	max-width: 52px;
	width: 100%;

	display: block;

	visibility: hidden;
}
div.Ribbon div.RibbonTabContent > a.RibbonButtonCommand > img.Icon
{
	display: block;
	width: 32px;
	height: 32px;
	margin-left: auto;
	margin-right: auto;
}
div.Ribbon div.ApplicationMenuItems > a.RibbonButtonCommand
{
	display: block;
	height: 44px;
	vertical-align: middle;
}
div.Ribbon div.ApplicationMenuItems > a.RibbonButtonCommand > span.Text
{
	position: absolute;
	top: 10px;
	left: 45px;
}

div.Ribbon div.ApplicationMenuItems span.Separator
{
	display: block;
	padding-left: 44px;
	height: 1px;
	border-top: solid 1px #cfdbeb;
}

div.Ribbon a.HelpButton
{
	position: absolute;
	border: solid 1px transparent;
	right: 0px;
	top: -1px;
	width: 22px;
	height: 22px;
	display: none;
	cursor: default;
	border-radius: 2px;
}
div.Ribbon a.HelpButton img
{
	position: absolute;
	left: 4px;
	top: 4px;
}

div.Ribbon div.RibbonTabGroup:hover
{
	background: #fbfdff; /* Old browsers */
	background: -moz-linear-gradient(top, #fbfdff 0%, #e7f8fc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfdff), color-stop(100%,#e7f8fc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fbfdff 0%,#e7f8fc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fbfdff 0%,#e7f8fc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fbfdff 0%,#e7f8fc 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fbfdff 0%,#e7f8fc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfdff', endColorstr='#e7f8fc',GradientType=0 ); /* IE6-9 */
}

div.Ribbon div.RibbonTabContext
{
	border-radius: 4px 4px 0px 0px;
	border: solid 1px transparent;
	border-bottom: none 0px;
	border-width: 1px 1px medium;
	height: 24px;
	position: absolute;
	top: -24px;
	width: 128px;

	border-color: #00FF00;
}
div.Ribbon div.RibbonTabContext div.Title
{
	text-align: center;
	width: 100%;
	position: relative;
	top: 6px;
	color: #1e395b;
}

/* *** FOR METRO UI ONLY ***
div.Ribbon a.RibbonTab
{
	text-transform: uppercase;
}
*/

div.Ribbon div.RibbonTabGroup
{
	display: inline-block;
	height: 84px;
	position: relative;
}
div.Ribbon div.RibbonTabGroup > div.Title
{
	text-align: center;
}

div.RibbonTooltip
{
	-moz-user-select: none;
	cursor: default;

	display: inline-block;
	visibility: hidden;
	opacity: 0;
	border: solid 1px #767676;

	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #e4ecf7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e4ecf7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#e4ecf7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#e4ecf7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#e4ecf7 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#e4ecf7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e4ecf7',GradientType=0 ); /* IE6-9 */

	border-radius: 4px;

	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
	color: #4A4C4F;
	font-size: 8pt;
	max-width: 210px;
	padding: 10px 7px;
	position: fixed;

	transition: visibility 0.5s, opacity 0.5s;
	z-index: 4;
}
div.RibbonTooltip.Visible
{
	visibility: visible;
	opacity: 1;
}
div.RibbonTooltip div.Title
{
	font-weight: bold;
	padding-bottom: 15px;
}
div.RibbonTooltip div.Content
{
	padding-left: 7px;
	padding-right: 25px;
}
div.Ribbon div.RibbonTabContent span.Separator
{
	background-color: #a5b8d0;
	border: solid 1px #ecf1fa;
	display: inline-block;
	width: 1px;
	height: 80px;
	margin-top: 2px;
	margin-left: 4px;
	margin-right: 4px;
}
div.Ribbon span.UserName
{
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 2px;
	cursor: default;
	display: inline-block;
	height: 22px;
	position: absolute;
	right: 24px;
	text-align: right;
	top: 2px;
	width: auto;
}